<div class="col-md-3">
  <div class="thumbnail">

    <%= link_to person_path(person) do %>
    <%=image_tag person.image.url(:original), class: "img-responsive" %>
    <% end %>
    <div class="caption">
      <p><strong><%= link_to person.firstname, person_path(person) %></strong></p>

    </div>
  </div>
</div>
