<div class="row">
  <h1 class="text-center">Call Backs</h1>
<div class="col-md-4">
<h3 class="text-center">
Models On Runway <%= link_to "Model", new_person_path, class: "btn btn-primary" %>
</h3>
<%= render "modelsonrunway" %>
</div>
<div class="row">
<div class="col-md-4">
<h3 class="text-center">
<%= render "callbackslocal" %>
</div>
<div class="row">
<div class="col-md-4">
<h3 class="text-center">
<%= render "callbacksforeign" %>
</div>
