// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert {
  position: absolute;
  z-index: 1;
  width: 200px;
}

.landing_title {
  padding-top: 400px;
}

.landing {
  background: image-url("IMG_1339.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}

.navbar {
  margin-bottom: 0px;
}

.btn-landing {
  background: none;

}

.btn-landing:hover {
  background: none;
  border-color: white;
}


th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform:
    /* Magic Numbers */
    translate(25px, 51px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

td.top-buffer { margin-top:20px; }
